# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2

defaults: &defaults
  working_directory: ~/repo
  docker:
    # specify the version you desire here
    - image: circleci/node:8.12

jobs:
  install:
    <<: *defaults
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-a11y-cb-{{ .Branch }}-{{ checksum "package.json" }}
            - v1-a11y-cb-{{ .Branch }}-
            - v1-a11y-cb-
      - run: yarn install
      - save_cache:
        paths:
          - node_modules
        key: v1-a11y-cb-{{ .Branch }}-{{ checksum "package.json" }}
      - persist_to_workspace:
        root: ~/repo

  test:
    <<: *defaults
    steps:
      - attach_workspace:
        at: ~/repo
      - run:
        name: 'JavaScript Test Suite'
        # yarn here makes sure we are using the local jest binary
        command: yarn run test:ci
        environment:
          JEST_JUNIT_OUTPUT: 'reports/junit/js-test-results.xml'

workflows:
  version: 2
  build_and_test:
    jobs:
      - install
      - test:
          requires:
            - install
